.footer{
    width: 100%;
    background-color: #363636;
    color: #eee;
    padding: 3rem 1rem;
}

.footer .container{
    width: 100%;
    margin: auto;
    text-align: center;
}

.footer ul {
    display: flex; 
    justify-content: center;
}
.footer .nav-menu {
    display: flex;
}

.footer .nav-item {
    padding: 1rem;
    font-weight: 500;

}

.footer li{
    padding: 1rem;

}

.footer li a {
    color: #fff;
}

.footer li a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.bottom{
    text-align: center;
    padding-top: 3rem;
}

.line{
    margin-bottom: 1rem;
}


@media screen and (max-width: 960px) {
.footer{
    max-width: 100%;
    }
  .footer .container {
    max-width: 100%;
    grid-template-columns: 1fr;
  }
   .nav-item {
       margin: 1.5rem 0;
   }

  
  
  .footer a{
    font-size: 1rem;
  }


}
